/*Imported fonts from Google Fonts*/
.chonburi-regular {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
  }
.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Base style for body text*/
body{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1B1B19;
}
/*Base heading style*/
.heading{
    color: #3F513A;
    margin: 0px;
}
/*Styles for heading levels*/
.heading-1{
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: #3F513A;
    margin: 0px;
}
.heading-2{
    font-family: "Manrope", sans-serif;
    font-size: 39px;
    font-weight: 300;
    margin: 0px;
}
.heading-2-altwhite{
    font-family: "Manrope", sans-serif;
    font-size: 39px;
    font-weight: 300;
    color: #EDECE8;
}
.heading-3{
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.heading-3-altgreen{
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #C2DC59;
}
/*Additional styles*/
.caption{
    font-size: 12px;
}
.caption-altwhite{
    font-size: 12px;
    color: #EDECE8;
}
.breaks{
    font-weight: 900;
}
.body-text-altwhite{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EDECE8;
}

/*Button Styles*/
.primary-button{
    font-size: 16px;
    background-color: #EDECE8;
    color: #3F513A;
    border-radius: 2px;
    border-style:solid;
    border-color: #3F513A;
    border-radius: 10px;
    padding: 15px;
}
.primary-button:hover{
    background-color: #3F513A;
    color: #EDECE8;
    transition: 0.2s;
}

/*Colour Classes*/
.primary-colour{ /*Green Primary colour*/
    color: #3F513A;
}
.secondary-colour{/**/
    color: #1B1B19;
}
.light-background{
    background-color: #EDECE8;
}

body{
    margin: 0px;
    padding: 0px;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}

/*Styles for Artist Columns*/
.section {
    width: 100%;
    max-width: 1480px;
    padding: 10px 100px 0px 100px;
    background: #fff;
}
.columns {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 10px;
}
.column {
    background: #EDECE8;
    padding: 20px;
    flex: 1; /* Allows columns to expand evenly */
    float: right;
    vertical-align: top;
}

.column p{
    margin-bottom: 10px;
    margin-top:0px ;
}
.columnLeft img{
    max-width: 100%;
    padding-top: 20px;
}
.columnLeft{
    width: 50%;
    height: 100%;
    float: left;
}
.columnRight{
    width: 336.31px;
    float: left;
    padding-left: 10px;
    padding-top: 73px;
}
.section-one .columns .column {
    flex: 0 0 46.8%; /* Two columns, each 50% of the row */
}
.section-two .columns .column{
    flex: 0 0 97%;
}
.learnMoreLeft{
    width: 70%;
    float: left;
}
.columnContainer{
    column-gap: 40px;
}
.learnMoreLeft iframe{
    width: 100%;
    height: 500px;
    padding-top: 20px;
}
.learnMoreLeftPodcast{
    width: 70%;
    float: left;
}
.learnMoreLeftPodcast iframe{
    width: 100%;
    padding-top: 20px;
}
.learnMoreRight{
    width: 30%;
    float: right;
    padding-top: 20px;
}
.learnMoreRight p{
    width: 99%;
    padding-left: 10px;
}
.columnContainer{
    padding-top: 90px;
    padding-bottom: 100px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3F513A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #EDECE8;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #818181;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



#heroArea{
    height: 100vh;
}
#Left{
    height: 100vh;
    width: 50%;
    background-color: #EDECE8;
    float:left;
}
#Right{
    width: 50%;
    height: 100vh;
}
#LeftContent{
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#LeftContent h1{
    max-width: 500px;
    padding-top: 30px;
}
#LeftContent h2{
    max-width: 500px;
    padding-top: 30px;
}
#LeftContent h3{
    max-width: 250px;
    padding-top: 60px;
    padding-bottom: 105px;
}
#menu img{
    width: 24px;
    height: 24px;
    float: left;
    padding-right: 10px;
}

/*Styles For Horizontal Scroll Area*/
#horizontalContainer{
    width: 100%;
    height: 95vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
#horizontalContainer .section{
    width: 1500px;
    min-width: 100%;
    line-height: 100%;
    background-color: #EDECE8;
    padding: 0px;
}
#horizontalContainer .section img{
    float: left;
    width: 50%;
    height: 100%
}
.sectionHeading{
    margin: 0%;
    padding: 100px 157.5px 100px 0px;
    float: right;
}
.sectionDescription{
    width: 400px;
    padding-top: 400px;
    color: #1B1B19;
    margin: 0%;
    padding-right: 125px;
    line-height: normal;
}
#scrollButtons{
    height: 5vh;
    background-color: #1B1B19;
}
#scrollButtons button{
    height: 4vh;
    width: 50px;
    border-style: none;
    background-color:#1B1B19;
}
#scrollButtons button img{
    height: 5vh;
}

/*Footer Styles*/
.footerInfo{
    max-width: 500px;
    height: 200px;
    float: right;
    text-align: right;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    background-color: #3F513A;
}
.footerInfo p{
    color: #EDECE8;
}
.footerForm{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3F513A;
}
.footerForm h2{
    margin: 0px;
}
.footerform p{
    color: #EDECE8;
}
.footerForm label{
    padding-right: 5px;
}



/*Styles For About Us Page*/
.secondaryHeader{
    max-width: 100vw;
    max-height: 50vh;
    padding-left: 100px;
    padding-top: 99px;
    padding-bottom: 99px;
    background-color: #EDECE8;
}
.secondaryHeader h1{
    padding-top: 2px;
}
.learnMoreLeft{
    width: 70%;
    float: left;
}
.columnContainer{
    column-gap: 40px;
}
.learnMoreLeft iframe{
    width: 100%;
    height: 500px;
    padding-top: 20px;
}
.learnMoreLeftPodcast{
    width: 70%;
    float: left;
}
.learnMoreLeftPodcast iframe{
    width: 100%;
    padding-top: 20px;
}
.learnMoreRight{
    width: 30%;
    float: right;
    padding-top: 20px;
}
.learnMoreRight p{
    width: 99%;
    padding-left: 10px;
}
.columnContainer{
    padding-top: 90px;
    padding-bottom: 100px;
}