/*Imported fonts from Google Fonts*/
.chonburi-regular {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
  }
.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Base style for body text*/
body{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1B1B19;
}
/*Base heading style*/
.heading{
    color: #3F513A;
    margin: 0px;
}
/*Styles for heading levels*/
.heading-1{
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    color: #3F513A;
    margin: 0px;
}
.heading-2{
    font-family: "Manrope", sans-serif;
    font-size: 39px;
    font-weight: 300;
}
.heading-2-altwhite{
    font-family: "Manrope", sans-serif;
    font-size: 39px;
    font-weight: 300;
    color: #EDECE8;
}
.heading-3{
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.heading-3-altgreen{
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #C2DC59;
}
/*Additional styles*/
.caption{
    font-size: 12px;
}
.breaks{
    font-weight: 900;
}
.body-text-altwhite{
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EDECE8;
}

/*Button Styles*/
.primary-button{
    font-size: 16px;
    background-color: #EDECE8;
    color: #3F513A;
    border-radius: 2px;
    border-style:solid;
    border-color: #3F513A;
    border-radius: 10px;
    padding: 15px;
}
.primary-button:hover{
    background-color: #3F513A;
    color: #EDECE8;
    transition: 0.2s;
}

/*Colour Classes*/
.primary-colour{ /*Green Primary colour*/
    color: #3F513A;
}
.secondary-colour{/**/
    color: #1B1B19;
}
.light-background{
    background-color: #EDECE8;
}

body{
    margin: 0px;
    padding: 0px;
}
.hideScroll::-webkit-scrollbar {
    display: none;
}
/*Styles for Artist Columns*/
.section {
    width: 90%;
    max-width: 1480px;
    margin: 100px;
    background: #fff;
}
.columns {
    display: flex;
    flex-wrap: wrap; /*flex-wrap to ensure responsive wrapping*/
    gap: 10px;
}
.column {
    background: #EDECE8;
    padding: 20px;
    flex: 1; /* Allows columns to expand evenly */
    float: right;
    vertical-align: top;
}
.column h2{
    margin: 0px;
}
.column p{
    margin: 0px;
}
.columnLeft img{
    max-width: 100%;
    padding-top: 20px;
}
.columnLeft{
    width: 50%;
    height: 100%;
    float: left;
}
.columnRight{
    width: 336.31px;
    float: left;
    padding-left: 10px;
    padding-top: 73px;
}
.section-one .columns .column {
    flex: 0 0 46.8%; /* Two columns, each 50% of the row */
}
.section-two .columns .column{
    flex: 0 0 100%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #3F513A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #EDECE8;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #818181;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}



#heroArea{
    height: 100vh;
    margin: 0px;
}
#Left{
    height: 100vh;
    width: 50%;
    background-color: #EDECE8;
    float:left;
    margin: 0px;
}
#Right{
    width: 50%;
    height: 100vh;
    margin: 0px;
}
#LeftContent{
    padding-left: 100px;
    padding-top: 100px;
    margin: 0px;
}
#LeftContent h1{
    max-width: 500px;
}
#LeftContent h2{
    max-width: 500px;
}
#LeftContent h3{
    max-width: 250px;
    padding-top: 62px;
    padding-bottom: 64px;
}
#menu img{
    width: 24px;
    height: 24px;
    float: left;
    padding-right: 10px;
}


#horizontalContainer{
    width: 100%;
    height: 95vh;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 0px;
}
#horizontalContainer .section{
    width: 1500px;
    min-width: 100%;
    line-height: 100%;
    background-color: #EDECE8;
    margin: 0px;
}
#horizontalContainer .section img{
    float: left;
    width: 50%;
    height: 100%
}
.sectionHeading{
    margin: 0%;
    padding-top: 100px;
    padding-left: 125px;
    padding-right: 125px;
    float: right;
    margin: 0px;
}
.sectionDescription{
    width: 400px;
    padding-top: 400px;
    color: #1B1B19;
    margin: 0%;
    padding-right: 125px;
}
#scrollButtons{
    height: 5vh;
    background-color: #1B1B19;
}
#scrollButtons button{
    height: 4vh;
    width: 50px;
    margin: 0px;
    border-style: none;
    background-color:#1B1B19;
}
#scrollButtons button img{
    height: 5vh;
}
.footerInfo{
    max-width: 500px;
    height: 200px;
    float: right;
    text-align: right;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    background-color: #3F513A;
}
.footerInfo p{
    color: #EDECE8;
}
.footerForm{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3F513A;
}
.footerForm h2{
    margin: 0px;
}
.footerform p{
    color: #EDECE8;
}
.footerForm label{
    padding-right: 5px;
}



/*Styles For About Us Page*/
.secondaryHeader{
    max-width: 1600px;
    max-height: 50vh;
    padding-left: 100px;
    padding-top: 100px;
    background-color: #EDECE8;
}
.secondaryHeader h1{
    padding-bottom: 100px;
    max-width: 1680px;
}
#Information{
    margin: 100px 0 0 100px;
    max-width: 1480px;
}